language: python
dist: trusty
python:
- "3.7"

addons:
  sonarcloud:
    organization: "jpchagas-github"
    token: $SONAR_TOKEN # encrypted value of your token
#install:

script: 
- pytest
- sonar-scanner

#after_success: